# Please note that these env variables will be saved to the repo.
# TODO: Setup a way for this file to read a .env file that is not committed.
export DATABASE_URL=postgres://goapi:password@localhost:5432
export JWT_SALT=thisisasalt